{% extends "layout.html" %}
{% block content %}

      <div id="content">
        <!-- insert the page content here -->
        <h1>CPSC Student Advising Form</h1>

	<form action="#" method="post">
          <div class="form_settings">
            <p><span>Enter Full Name: </span><input type="text" name="name" value="" /></p>
	    <p><span>Enter Student ID: </span><input type="text" name="name" value="" /></p>
	    <p><span>Enter Expected Graduation Year: </span><input type="text" name="name" value="" /></p>
	    <p><span>Select Advisor: </span><select id="id" name="name"><option value="0"> </option><option value="1">Stephen Davies</option><option value="2">Jennifer Polack</option><option value="3">Ron Zacharski</option><option value="4">Karen Anewalt</option><option value="5">Ian Finlayson</option></select></p>
	    <p><span>Select Completed Courses: </span><select multiple><option value="1">110</option><option value="2">125</option><option value="3">220</option><option value="4">230</option><option value="5">330</option><option value="6">370</option><option value="7">410</option><option value="8">326</option><option value="9">430</option><option value="10">405</option><option value="11">310</option><option value="12">305</option><option value="13">350</option><option value="14">401</option> </select></p>	
	    <p><span>Select Courses For Upcoming Semester: </span><select multiple><option value="1">110</option><option value="2">125</option><option value="3">220</option><option value="4">230</option><option value="5">330</option><option value="6">370</option><option value="7">410</option><option value="8">326</option><option value="9">430</option><option value="10">405</option><option value="11">310</option><option value="12">305</option><option value="13">350</option><option value="14">401</option> </select></p> 
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="Submit Form" /></p>
          </div>
        </form>
        
        <form name = 'checktable' action = '/process' method = "Post">
	<fieldset>
	{% for i in class_name %}
	<tr><td>{{i.name.tagline}}</td><td><input type="checkbox" name="ischecked" value ={{i.name.tagline}} ></td></tr>
	<br><br>
	{% endfor %}
	</fieldset>

      </div>
 
      
{% endblock %}
